$appHeaderHeight: 50px;
$mainBackgroundColor: #e5e5e5;
$darkBackgroundColor: #444444;

$lightFontColor: #e5e5e5;
$darkFontColor: #333333;

$lightBorder: .5px solid #666666;

$highlightColor01: rgb(251, 59, 46);
$highlightColor01a: rgb(251, 102, 46);
$highlightColor02: rgb(251, 182, 46);
$highlightColor03: rgb(204, 251, 46);
$highlightColor04: rgb(46, 251, 147);
$highlightColor05: rgb(46, 165, 251);
$highlightColor06: rgb(46, 98, 251);
$highlightColor07: rgb(198, 46, 251);
$highlightColor08: rgb(251, 46, 163);

$activeHighlightColor: #85b6ff;
