$appHeaderHeight: 50px;
$tabBarHeight: 37px;
$totalHeaderHeight: $appHeaderHeight + $tabBarHeight;
$topMenuHeight: 1.6rem;

$mainBackgroundColor: #e5e5e5;
$darkBackgroundColor: #444444;

$lightFontColor: #e5e5e5;
$darkFontColor: #333333;

$lightBorder: .5px solid #666666;

$highlightColor01: rgb(251, 59, 46);
$highlightColor01a: rgb(251, 102, 46);
$highlightColor02: rgb(251, 182, 46);
$highlightColor03: rgb(204, 251, 46);
$highlightColor04: rgb(46, 251, 147);
$highlightColor05: rgb(46, 165, 251);
$highlightColor06: rgb(46, 98, 251);
$highlightColor07: rgb(198, 46, 251);
$highlightColor08: rgb(251, 46, 163);

$activeHighlightColor: #85b6ff;

$svgSuppliedColor: #999999;

$svgUnassignedShapeColor: #ff00ff;

$svgActiveWritingZoneColor: $highlightColor06; //#468ffc;
$svgActiveWritingLayerColor: $highlightColor05;

$svgUsedShapeColor: rgb(0, 161, 46);
$svgSelectedShapeColor: rgb(255, 248, 46);

$scoreHighlightedColor: $highlightColor01;

$highlightHoverColorShadow: rgb(251, 59, 46);
$highlightHoverColorStroke: rgb(255, 0, 0);
$highlightHoverColorFill: yellow;
$highlightDTChainColorShadow: #961010;
$highlightDTChainColorStroke: #961010;
$highlightDTChainColorFill: orange;

$verovioAtPageLabelBox: #33333333;

.svgContainer .highlightHover {
    filter: drop-shadow(5px 5px 3px $highlightHoverColorShadow) !important;
    stroke: $highlightHoverColorStroke !important;
    // fill: $highlightHoverColorFill !important;
}

.svgContainer .highlightDTChain {
    filter: drop-shadow(5px 5px 3px $highlightDTChainColorShadow);
    stroke: $highlightDTChainColorStroke !important;
    // fill: $highlightDTChainColorFill !important;
}

.verovioComponent .highlightHover {
    filter: drop-shadow(3ex 3ex 1ex $highlightHoverColorShadow) !important;
    stroke: $highlightHoverColorStroke !important;
    // fill: $highlightHoverColorFill !important;
}

.verovioComponent .highlightDTChain {
    filter: drop-shadow(3ex 3ex 1ex $highlightDTChainColorShadow);
    stroke: $highlightDTChainColorStroke !important;
    // fill: $highlightDTChainColorFill !important;
}

.diploTrans .highlightHover {
    filter: drop-shadow(2ex 2ex 1ex $highlightHoverColorShadow) !important;
    stroke: $highlightHoverColorStroke !important;
    // fill: $highlightHoverColorFill !important;
}

.diploTrans .highlightDTChain {
    filter: drop-shadow(2ex 2ex 1ex $highlightDTChainColorShadow);
    stroke: $highlightDTChainColorStroke !important;
    // fill: $highlightDTChainColorFill !important;
}
